# Used in backend and public user ui
MESSAGE_QUEUE_HOST=<service bus in  azure>
EVENT_QUEUE_ADDRESS=<your-individual-azure-queue>
MESSAGE_QUEUE_USER="RootManageSharedAccessKey"
FCP_AHWR_EVENT_QUEUE_SA_KEY=<key for the event queue in azure>

# For localstack
AWS_REGION="eu-west-2"
AWS_DEFAULT_REGION="eu-west-2"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"

# For backoffice ui
AADAR_AUTHORITY_URL=<The Active Directory Url>
AADAR_CLIENT_SECRET=<Your active directory client secret>
AADAR_CLIENT_ID=<Your active directory client id>

USE_INSTANCES=4
CLEANUP_FIRST=true