name: Run Journey Tests on GitHub

permissions:
  checks: write
  pull-requests: write
  contents: read

on:
  workflow_dispatch:
  workflow_call:
  repository_dispatch:
    types: [run-tests]

jobs:
  build:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run test script
        run: ./scripts/github_run_tests.sh